.body{
     margin:0px;
}
.ul1 {
  list-style-type: none;
  margin: 0;
  padding:20px 0px;
  background: linear-gradient(134deg, pink, pink,pink,#ffffffd1,pink,pink);
  animation-name: animation1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes animation1 {
  0%   {background-color: pink;}
  25%  {background-color: #ffffffd1;}
  50%  {background-color: pink;}
  100% {background-color: #ffffffd1;}
}
@keyframes animation2 {
  0%   {background-color: pink;}
  25%  {background-color: #ffffffd1;}
  50%  {background-color: pink;}
  100% {background-color: #ffffffd1;}
}
.ul1 li {
  float: left;
}
.log{
  display:flex;
  justify-content:right;
  margin-right:10px;
  color: white;
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;
  font-size:25px;
}
.a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:25px;
}
.dd{
  color:black;
  
}
.logo{
  font-size:35px;
  color: #8e0797;
  margin:7px 50px 5px 5px;
}

.drop{
  display:inline;
  margin-top:14px;
  border:none;
  background:pink;
  text-align:center;
  color:white;
  font-size:22px;
  
}
.dropbtn {
  background-color: pink;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top:-5px;
  font-size:28px;
  font-family:fangsong;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #00000033;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}


footer{
    
    background:#fea9b6;
    
    font-family:fangsong;
    color:white;
    background: linear-gradient(145deg,pink,#fff1f1b0,  pink,pink,pink,pink);
    animation-name: animation2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.footer-content{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  text-align:center;
}
.footer-content h3{
  font-size:1.8rem;
  font-weight:400;
  text-transform:capitalize;
  line-height:3rem;
}
.footer-content p{
  max-width:500px;
  margin:10px auto;
  line-height:28px;
  font-size:14px;
}
.socials{
  list-style:none;
  display:flex;
  align-items:center;
  justify-content:center;
}
.socials li{
  margin:0px 60px;
}
.socials a{
  text-decoration:none;
  color:white;
}
.socials i{
  font-size:1.5rem;
  transition: color .4s ease;
}
.socials a:hover i{
  color:#eb526c;
}
.logoimg{
  height:200px;
  width:200px;
}
.space{
  display:flex;
  justify-content:space-between;
}
table a{
  color:black;
  text-decoration: none;
}
table a:hover{
  color:#d4d1d1;
}
.ft{
  position: absolute;
  bottom: 0;
  width: 100%;
}